%h2= "Round #{@round.number}"

.row
  .col-xs-offset-2.col-xs-8
    #accordian.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
      - @round.matches.includes(:player_one, :player_two).each do |match|
        = render match
